button {
    border: none;
}

button, input, select {
    outline: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid rgb(219, 219, 219);
}

.btn {
    margin: 0;
    background-color: rgb(13, 14, 15);
    color: white;
    border: 1px solid rgb(13, 14, 15);
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn:disabled {
    opacity: 0.6;
    cursor: initial;
    pointer-events: none;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: #171B1F;
    color: #ddd;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar.colapsado {
    width: 70px;
}

.sidebar.colapsado .sidebar__titulo, .sidebar.colapsado .sidebar-menu__span {
    display: none;
    opacity: 0;
}

.sidebar.colapsado .sidebar__cabecalho {
    width: 100%;
    justify-content: center;
    padding: 16px 0;
}

.sidebar__cabecalho {
    justify-content: space-between;
    padding: 32px;
}

.sidebar__titulo {
    font-size: 40px;
    color: #E0DEE6;
}

.sidebar__btn {
    font-size: 18px;
    border: 1px solid #A1A6AF;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.7;
    transition: background 0.3s ease-in, opacity 0.3s ease-in;
}

.sidebar__btn:hover {
    background-color: #a1a6af1c;
    opacity: 1;
}

.sidebar-menu__item {
    border-bottom: 1px solid #a1a6af21;
    font-size: 14px;
    color: white;
    transition: background 0.3s ease-in;
    position: relative;
}

.sidebar-menu__item-container {
    padding: 16px 20px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.sidebar-menu__item i {
    width: 26px;
    text-align: center;
}

.sidebar-menu__item.ativo .sidebar-menu__item-container {
    opacity: 1;
}

.sidebar-menu__item-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: white;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    transform: scaleY(0);
}

.sidebar-menu__item.ativo .sidebar-menu__item-container::before {
    opacity: 1;
    transform: scaleY(1);
}

.sidebar-menu__span {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.sidebar-menu__item:hover .sidebar-menu__item-container {
    opacity: 1;
}

.area-conteudo {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    padding-top: 46px;
}

.topbar {
    justify-content: space-between;
    height: 46px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
    padding: 0 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: #393c3f;
}

.topbar__titulo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.topbar__foto {
    border-radius: 50%;
}

.topbar__nome {
    margin-left: 8px; 
    font-size: 14px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.area-tabela {
    padding: 0 10px;
    padding-bottom: 16px;
}

.pesquisa {
    display: flex;
}

.txt-pesquisa {
    width: 450px;
    padding: 12px;
    border: 2px solid #cecece;
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

.btn-pesquisa {
    padding: 12px;
    background-color: #171b1f;
    border: solid 2px #171b1f;
    color: #ffffff;
    border-radius: 0 3px 3px 0;
}

.btn-novo {
    padding: 12px;
    background-color: #15b156;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}

.tabela th {
    background-color: #171b1f;
    color: #ffffff;
}

.tabela th, td {
    border: solid 1px #ffffff;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.tabela tr:nth-child(even) {
    background-color: #f1f1f1;
}

.tabela tr:hover {
    background-color: rgb(217, 217, 223);
}

.td-acoes {
    width: 100px;
}

.btn-acoes {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.visualizar {
    color: #15b156;
}

.editar {
    color: #f1a922;
}

.remover {
    color: #e72828;
}

.cor {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
}