@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  scroll-behavior: smooth;  }

body {
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo-principal);
    font-family: Roboto, sans-serif;
}



/* Flex para reuso */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Centralizar elementos */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Específicos para animação JS */
.blur{  filter:  blur(3px);  }



/* Imagens em geral */
.imagem {
    width: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
}



/* Botões */
.btn {
    display: block;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    color: var(--cor-clara);
    margin: 0 10px;
    transition: all .3s ease;
    background-color: var(--cor-btn);
    user-select: none;
}

.btn:hover {  background-color: var(--cor-escura);  }

.btn-nav {
    background-color: var(--cor-btn-nav);
    font-size: 1.1rem;
    width: 120px;
}

.btn-nav:hover {  background: var(--cor-btn-nav-principal-hover);  }




/* Cards */
.card {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    background: var(--cor-clara);
    box-shadow: 5px 5px 10px var(--cor-box-shadow-cards);
}

.card__imagem {
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.card__descricao {
    width: 100%;
    height: 25%;
    border-radius: 0 0 10px 10px;
    justify-content: flex-start;
    padding: 10px;
}

.card__titulo {
    text-align: center;
    margin-bottom: 5px;
}

.card__subtitulo {  text-align: center;  }

.card__cor {
    display: block;
    margin: 15px 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--cor-escura);
    position: relative;
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 3.5px rgb(105, 105, 105);
}

/* Temporário */
.cor-1 {  background-color: black;  }
.cor-2 {  background-color: tomato;  }
.cor-3 {  background-color: #ddd  }



/* Links*/
.link {
    display: block;
    color: var(--cor-clara);
}



/* Ícones */
.icone {
    font-size: 1rem;
    color: var(--cor-clara);
    margin: 0 20px;
    transition: all .3s ease;
}

.icone-nav {
    position: relative;
    font-size: .8rem;
}



/* Páginas login e cadastro */
.form-titulo {  font-size: 1.5rem;  }

.center-x{  margin: 0 auto;  }