/* Reset básico */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    height: 100%;
    background-color: var(--cor-fundo-principal);
    font-family: Roboto, sans-serif;
}


ul,
li {
    list-style-type: none;
}



/* Flex para reuso */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Centralizar elementos */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Imagens em geral */

.imagem {
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* Botões */

.btn {
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: var(--cor-clara);
    margin: 0 10px;
    transition: all .3s ease;
    /* background: ;   */
}

.btn:hover {
    /*background: ;*/
}

.btn-nav {
    font-size: 1.1rem;
    width: 120px;
}

.btn-nav:hover {
    background: var(--cor-btn-nav-principal-hover);
}



/* Cards */

.card {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    background: var(--cor-clara);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.card__imagem {
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__descricao {
    width: 100%;
    height: 25%;
    border-radius: 0 0 10px 10px;
    justify-content: flex-start;
    padding: 10px;
}

.card__titulo {
    text-align: center;
    margin-bottom: 5px;
}

.card__titulo2 {
    text-align: center;
    margin-top: 15px;
}

.card__subtitulo {
    text-align: center;
}

.card__lista {}

.card__cor {
    display: block;
    margin: 15px 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 3.5px rgb(105, 105, 105);
}

.cor-1 {
    background-color: violet;
}

.cor-2 {
    background-color: tomato;
}

.cor-3 {
    background-color: aqua;
}



/* Links*/

.link {
    display: block;
    text-decoration: none;
    color: var(--cor-clara);
    /* transition: ; */
}

.link:hover {
    /*color: ;*/
}




/* Ícones */

.icone {
    font-size: 1rem;
    color: var(--cor-clara);
    margin: 0 20px;
    transition: all .3s ease;
}

.icone:hover {
    /*color: ;*/
}

.icone-nav {
    position: relative;
    font-size: .8rem;
}

.icone-nav:hover {
    /*color: ;*/
}