/* 
** TODO
** Responsividade para telas acima de 1440px
** Refatorar código
*/

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./base.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

input{
    border-radius: 5px;
    border: 1.5px solid lightgray;
    outline: none;
    padding: 5px;
}

input:focus,
input:hover{  border: 1.5px solid rgb(114, 114, 114);  }    

/*oculta a pagina antes de verificar o login*/
.hide {
    display: none !important;
}

.img-nav{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    user-select: none;
}

.compra-segura-titulo,
.compra-segura-subtitulo{
    font-size: .7rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    user-select: none;
}

.compra-segura-subtitulo{  font-weight: normal;  }

.conteudo-principal{
    display: grid;
    grid-template-columns: 1000px 250px;
    gap: 10px;
    padding: 40px;
    margin-top: 50px;
}


.container-formulario{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.container-formulario__cabecalho{
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.barra-progresso{  
    padding: 0 20px;
    justify-content: space-between;  
}

.passos{
    position: relative;
    text-align: center;
}

.passos__titulo{
    font-size: .9rem;
    transition: .3s ease;
    margin-bottom: 15px;
    color: lightgray;
}

.passos.finalizado .passos__titulo{  color: #222;  }

.passos.atual .passos__titulo{  
    transform: scale(1.5);  
    color: #222;
}

.numerador{
    position: relative;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 50%;
    transition: .3s ease;
}

.passos.finalizado .numerador{
    background-color: #222;
    border: 1px solid #222;
}

.passos.atual .numerador{
    background-color: white;
    border: 1px solid #222;
}

.numero{
    color: lightgray;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);            
}

.passos.finalizado .numero{  color: #222;  }
.passos.atual .numero{  color: #222;  }

.check{
    position: absolute;
    z-index: 999;
    top: 78%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    transition: .3s ease;
}

.passos.finalizado .check{
    display: block;
    color: white;
}

.passos:last-child .numero:before,
.passos:last-child .numero::after{  display: none;  }

.numero::before,
.numero::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(6%) scale(1);
    width: 267px;
    height: 2px;
    background-color: white;
    
}

.passos.finalizado .numero::after{
    background-color: #222;
    transform-origin: left; 
    transform: scaleX(0);
    animation: animate .3s linear forwards;
    transition: all .5s ease;
}

@keyframes animate {
    100% {
        transform: translateX(6%) scaleX(1);
    }
}


.formulario{
    width: 100%;
    overflow: hidden;
}

.form-geral{
    width: 500%;
    transition: margin-left .3s ease-in-out;
    margin-left: 0;
}

.pagina{
    width: 100%;
    height: 100%;
    margin: 0;
    align-self: flex-start;
    padding: 0 60px;
}

.pagina__titulo{
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 10px;
}

.btn-avancar, 
.btn-voltar{
    padding: 10px 15px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

.btn-avancar:hover, 
.btn-voltar:hover{
    background-color: #444;
}


.card-wrapper{  margin: 20px;  }

.card-form{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 5px;
}



.contato input,
.entrega input[type=text]{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.entrega label{
    display: block;
    margin-top: 10px;
}

.btn-home{
    width: 180px;
    margin-top: 25px;
}

.pagamento__cartao,
.pagamento__boleto,
.pagamento__cartao-celular{  display: none;}

.pagamento__cartao.ativo,
.pagamento__boleto.ativo,
.pagamento__cartao-celular.ativo{
    display: block;
}

.containerCartao,
.containerBoleto{  
    display: block;
}

.lista-botoes{
    justify-content: flex-start;
    flex-wrap: wrap;
}

.lista-botoes .btn{  margin: 25px 10px 0 0;  }




/* Página Entrega */
.select-entrega{
    border-radius: 5px;
    border: 1.5px solid lightgray;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}



/* Página Destinatário */
.pagina__titulo-destinatario{  font-size: 1.2rem;  }

.destinatario-dados input,
.destinatario-endereco input,
.destinatario-cobranca input{
    border-radius: 5px;
    border: 1.5px solid lightgray;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.destinatario-endereco{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 2px;
	padding-inline-start: 0;
}

label #cobranca{  margin-bottom: 10px;  }

.dados__cobranca,
.termo__compra{  margin-top: 10px;  }



/* Seção Pagamento */
.select-pagamento,
#pagamento__cpf,
.pagamento__boleto input,
.card-form input,
.pagamento__cartao-celular input{
    border-radius: 5px;
    border: 1.5px solid lightgray;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#pagamento__cpf,
#pagamento__nome{  margin-top: 10px;  }

.btn__cartao,
.btn__boleto{
    padding: 10px 15px;
    display: block;
    background-color: rgb(245, 245, 245);
    font-size: 1.1rem;
}

.btn__cartao::after,
.btn__boleto:after {
    content: '+'; 
    font-size: 1rem;
    float: right;
    margin-left: 5px;
}

.btn__cartao.ativo::after,
.btn__boleto.ativo:after {  content: "-";  } 




/* SEÇÃO PRODUTOS */
.container-produtos{
    background-color: white;
    box-shadow: 2px 2px 10px gray;
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    color: #666;
    max-height: 700px;
    /* display: none; */
}

.item-produto{
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    width: 95%;
    margin: 0 auto 10px auto;
}

.info-produto{
    margin: 0 10px 5px 0;
}

.imagem-produto{
    width: 90px;
    margin-right: 10px;
    height: 100px;
    object-fit: cover;
    object-position: top;    
}

.valor-produto{  font-weight: bold;  }

.lista-produto{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    max-height: 400px;
    overflow: auto;
}

.valores-produto-container{
    padding: 10px;    
}

.valores-item{
    justify-content: space-between;
    margin-bottom: 15px;
}

.total-container{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 1.3rem;
}

.valor-total{  font-weight: bold;  }

.cupom-container{
    position: relative;
    color: #029cdc;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
    height: 50px;
}

.pergunta-cupom{   
    position: absolute;
    transform: scale(1);
    display: block;
    transition: all .5s ease;
}

.pergunta-cupom:hover{  color: #41c0f7;  }

.pergunta-cupom.inativo{
    display: none;
    transform: scale(0);
}

[id="cupom-input"]{    
    width: 95%;
    height: 75%;
    outline: none;
    border: 1px solid transparent;
    color: #029cdc;
    opacity: 1;
    transform: rotateY(0);
    transition: all .5s ease;
}

[id="cupom-input"].inativo{  transform: rotateY(180deg); opacity: 0; visibility: hidden;}

[id="cupom-input"]:focus,
[id="cupom-input"]:hover{
    border: 1px solid #029cdc;
}

.fa-play-circle{
    color: #029cdc;
    font-size: 1.5rem;
    transition: all .3s ease;
}

.aplicar-cupom{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) scale(1);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}

.aplicar-cupom .fa-play-circle:hover{  color: #0679fd;  }

.aplicar-cupom.inativo{  transform: translateY(-50%) scale(0);  }


/* Seção Resumo do Pedido */
.resumo-pedido{
  position: fixed;
  z-index: 9999;
  top: 60px;
  width: 100%;
  background-color: #f5f5f5;
  height: 35px;
  display: none;
}

.barra-resumo-pedido{
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid lightgray ;
}

.titulo-modo-aberto,
.titulo-modo-fechado{
  font-size: .9rem;
}

.titulo-modo-aberto.inativo,
.titulo-modo-fechado.inativo{  display: none;  }

.icone-resumo-pedido{  margin-right: 10px;  }

.valor-pedido-resumo{
  padding: 4px 4px;
  background-color: #222;
  color: white;
  border-radius: 5px;
  font-size: .9rem;
}

.conteudo-resumo-pedido.inativo{  display: none;  }

.conteudo-resumo-pedido{
  display: block;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px lightgray;
  padding: 10px;
  max-height: 425px;
  overflow-y: scroll;
}

.conteudo-resumo-pedido .lista-produto{
  max-height: 230px;
  overflow-y: scroll;
}

.conteudo-resumo-pedido .aplicar-cupom{  right: 30px;  } 






/* Responsividade */

@media only screen and (max-width: 1480px) {
  .numero::before, .numero::after {  width: 250px;  }  
  .conteudo-principal {  grid-template-columns: 930px 1fr;  }
}



@media only screen and (max-width: 1400px) {
  .conteudo-principal {  
    margin-top: 70px;
    display: block;  
  }

  .numero::before, .numero::after {  display: none;  }
  .container-produtos {  display: none;  }
  .resumo-pedido{  display: block;  }
  .conteudo-resumo-pedido .aplicar-cupom{  right: 50px;  }
}



@media only screen and (max-width: 1020px) {
  .pagina {  padding: 0;  }
  .barra-progresso {  display: none;  }
  .container-formulario__cabecalho {  display: none;  }
  .btn-avancar, .btn-voltar, .btn-home{  width: 100%;  }
  .conteudo-resumo-pedido .aplicar-cupom{  right: 30px;  }

  .lista-botoes{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;  
    margin-top: 10px;
  }

  .lista-botoes li{  
    width: 100%;
    margin: 10px 0 0 0;  
  }

  .lista-botoes .btn{  margin: 0;  }

  .pagina__titulo {  font-size: 1.3rem;  }

  .pagina__titulo-destinatario {  font-size: 1.2rem;  } 
}