 /* DIV GERAL */
 
 .menu {
     float: left;
     display: flex;
     width: 98%;
     margin-top: 30px;
     margin-left: 20px;
 }
 
 .tab {
     border: 1px solid #ccc;
     background-color: #f1f1f1;
     width: 300px;
     height: 600px;
 }
 
 .tab button {
     background-color: inherit;
     text-align: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     font-size: 17px;
     min-width: 300px;
     transition: 0.3s;
 }
 
 .tab button:hover {
     background-color: #ddd;
 }
 
 .tab button:focus {
     background-color: #ddd;
 }
 
 .tabConfig {
     display: none;
     float: left;
     border: 1px solid #ccc;
     width: 600px;
 }
 /* GRID */
 
 .header {
     grid-column-start: 1;
     grid-column-end: 5;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     height: 60px;
     background-color: rgba(177, 177, 177, 1);
 }
 
 .numeroP {
     background-color: rgba(255, 255, 255, 1);
     grid-column-start: 1;
     grid-column-end: 2;
 }
 
 .data {
     background-color: rgba(255, 255, 255, 1);
     grid-column-start: 2;
     grid-column-end: 3;
 }
 
 .status {
     background-color: rgba(255, 255, 255, 1);
     grid-column-start: 3;
     grid-column-end: 4;
 }
 
 .detalhes {
     background-color: rgba(255, 255, 255, 1);
     grid-column-start: 4;
     grid-column-end: 5;
 }
 
 .grid-container {
     background-color: black;
     display: grid;
     grid-gap: 2px;
     grid-template-areas: auto auto auto;
 }
 
 .grid-container>div {
     text-align: center;
     padding: 20px 0;
 }
 
 .dados {
     margin-top: 10px;
 }
 /* ICONES */
 
 .fa-arrow-right {
     float: right;
 }
 
 .fas {
     margin-right: 5px;
 }
 
 .far {
     margin-right: 5px;
 }
/* Formatação básica. Trabalho com input.*/
/*Dificuldades até então: tamanho dos inputs adaptável ao conteúdo.*/
 #infoConta input {
    font-weight: bold;
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(168, 168, 168);
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    gap: 16px 24px;
 }
/* Não tá divindo o conteúdo em duas colunas. Vou verificar...*/
 #infoConta {
    display: grid;
    grid-template-columns: repeat(2, 300px);
 }