.menu {
    float: left;
    display: flex;
    width: 98%;
    margin-top: 30px;
    margin-left: 20px;
}

.tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 300px;
    height: 600px;
}

.tab button {
    background-color: inherit;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    min-width: 300px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabConfig {
    display: none;
    float: left;
    border: 1px solid #ccc;
    width: 600px;
}


/* GRID */

.header {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 20px;
    background-color: rgba(177, 177, 177, 0.8);
}

.numeroP {
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 1;
    grid-column-end: 2;
}

.data {
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 2;
    grid-column-end: 3;
}

.status {
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 3;
    grid-column-end: 4;
}

.detalhes {
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-container {
    border: 1px solid black;
    display: grid;
    grid-template-areas: auto auto auto;
}

.grid-container>div {
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
}

.dados {
    margin-top: 10px;
}


/* ICONES */

.fa-arrow-right {
    float: right;
}

.fas {
    margin-right: 5px;
}

.far {
    margin-right: 5px;
}