.container {
    display: flex;
    height: 100%;
    /* margin-bottom: 100px; */
}

.nav-padrao {
    position: relative;
}


/* Sidebar */

.sidebar {
    background-color: rgb(30, 30, 30);
    color: #CDD0D6;
    width: 280px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0px 0px 10px 0px;
}

.sidebar.colapsado {
    width: 70px;
}

.sidebar.colapsado .sidebar__titulo,
.sidebar.colapsado .sidebar-menu__span {
    display: none;
    opacity: 0;
}

.sidebar.colapsado .sidebar__cabecalho {
    width: 100%;
    justify-content: center;
    padding: 16px 0;
}

.sidebar__cabecalho {
    justify-content: space-between;
    padding: 32px;
}

.sidebar__titulo {
    font-size: 30px;
    color: #E0DEE6;
}

.sidebar__btn {
    font-size: 18px;
    padding: 0px 0px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.7;
    transition: background 0.3s ease-in, opacity 0.3s ease-in;
}

.sidebar__btn:hover {
    background-color: #a1a6af1c;
    opacity: 1;
}

.sidebar-menu__item {
    border-bottom: 1px solid #a1a6af21;
    font-size: 14px;
    color: white;
    transition: background 0.3s ease-in;
}

.sidebar-menu__item-container {
    padding: 16px 20px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.sidebar-menu__item i {
    width: 26px;
    text-align: center;
}

.sidebar-menu__span {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.sidebar-menu__item:hover {
    background-color: #a1a6af1c;
}

.sidebar-menu__item:hover .sidebar-menu__item-container {
    opacity: 1;
}

.topbar {
    justify-content: space-between;
    height: 46px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
    padding: 0 32px;
}

.area-conteudo {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.area-cabecalho {
    border: 1px solid black;
    width: 100%;
    height: 200px;
}


/* Configuração da seta de voltar para o início */

.setaMenu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    padding-left: 5px;
}

.setaMenu img {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-right: 5px;
}

.setaMenu h6 {
    padding-left: 5px;
    font-size: 20px;
}


/* DIV GERAL */

.tab button {
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    min-width: 300px;
    transition: 0.3s;
}

.tab {
    border: 1px solid #dddddd;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    height: 400px;
    overflow-y: auto;
}

.tab_abas {
    border: 1px solid #cacaca;
    margin: auto;
    border-bottom: none;
    background-color: #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    width: 90%;
    height: 40px;
}


/* Grid para as abas da tabela de informações pessoais */

.grid_abas {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.aba_dados {
    border-right: 1px solid #cacaca;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 2;
}

.tabDiv {
    display: none;
}

.tabDiv.ativo {
    display: flex;
    width: 100%;
}

.dadosConta {
    border: 1px solid lightgray;
    padding-top: 20px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}

.dadosConta input {
    margin: 25px 5px 30px;
    width: 300px;
    outline: none;
}

#alterarEndereço .dadosConta {
    width: 100%;
    height: 100%;
}

#alterarEndereço input {
    margin-bottom: 27px;
}

.novoDado {
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 100px;
}

.novoDado input {
    padding-left: 5px;
}

#senhaAtual {
    width: 80%;
}

.aba:hover {
    background-color: #d3d3d3;
    transition: 0.3s;
}

.aba.ativo {
    background-color: #d3d3d3;
}

.aba_alterarSenha {
    border-right: 1px solid #cacaca;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 3;
}

.aba_alterarEmail {
    border-right: 1px solid #cacaca;
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 4;
}

.aba_alterarEndereço {
    cursor: pointer;
    grid-column-start: 4;
    grid-column-end: 5;
}

.tabConteudo {
    display: none;
}

.tabConteudo.ativo {
    display: block;
}

.tabConta {
    width: 98%;
}

.tabHistorico {
    width: 98%;
}

.tabListaDesejos {
    width: 98%;
}

.tabConfigurações {}

.produto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #b2b4b6a2;
    margin: 10px;
}

.prodImg img {
    margin-left: 10px;
    width: 120px;
    height: 120px;
}

.prodConteudo {
    width: 150px;
    height: 140px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.produto:hover {
    background-color: #f0f0f0;
}

.rodape {
    margin-top: 50px;
}


/* ICONES */

.sidebar-menu__item .fas,
.far {
    margin-top: 5px;
    margin-right: 10px;
}


/* Formatação básica. Trabalho com input.*/


/*Dificuldades até então: tamanho dos inputs adaptável ao conteúdo.*/

#infoConta input {
    font-weight: bold;
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(168, 168, 168);
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    gap: 16px 24px;
}


/* Não tá divindo o conteúdo em duas colunas. Vou verificar...*/

#infoConta {
    display: grid;
    grid-template-columns: repeat(2, 300px);
}