:root{
    /* Cores gerais */
    --cor-clara  : white;
    --cor-escura : rgb(10,10,10);
    --cor-media : gray;



    /* Elementos gerais */
    --cor-fundo-principal : white;
    --cor-btn: rgb(0, 0, 0,.7);
    


    /* Navegação Principal */
    --cor-btn-nav: transparent;
    --cor-btn-nav-principal-hover: rgba(255, 255, 255, .15);
    --cor-btn-nav-principal-hover-scroll: rgba(0, 0, 0, .3);

    --cor-icone-hover-nav-principal: rgba(255,255,255,.2) ;
    --cor-icone-hover-nav-principal-scroll: rgba(0, 0, 0, .3);



    /* Menu Celular */
    --cor-menu-celular: #1C1B1B; 
    --cor-menu-celular-after: rgba(0,0,0,.5); 
    --cor-bordas-gerais-menu-celular: #555454;
    --cor-btn-menu-celular: transparent;
    --cor-btn-rodape-menu-celular: #8E8D8D;
    
    /* Cabeçalho */
    --cor-cabecalho-principal: transparent;
    --cor-imagem-cabecalho-principal: rgba(0,0,0,.5);
    --cor-btn-cabecalho-principal: rgba(0, 0, 0, .8);
    --cor-btn-cabecalho-principal-hover: rgba(255,255,255,.3);


    /* Cards */
    --cor-box-shadow-cards: rgba(0, 0, 0, .3);
    

    /* Rodapé */
    --cor-fundo-rodape : rgb(30,30,30);
}