.container {
    display: flex;
    justify-content: center;
}

.catalogo {
    display: flex;
}

#vitrine {
    margin: 100px 50px 50px 20px;
    width: 450px;
    height: 550px;
}

.catalogolist {
    margin-top: 105px;
}

.foto {
    margin: 0 0 15px 0px;
    width: 70px;
    height: 90px;
    padding: 0;
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 3.5px rgb(105, 105, 105);
}

.fotoBorda {
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 5.5px rgb(0, 0, 0);
}

.infoproduto {
    margin-top: 100px;
    width: 400px;
}

h1 {
    font-size: 24px;
}

.fa-bookmark {
    margin: 0px 0px 0px 10px;
    font-size: 24px;
}

.btn-favorito {
    padding: 1px 1px 1px 1px;
    border: none;
    background-color: white;
}

.preco {
    margin: 20px 0 20px 0;
}

.conteudo {
    font-size: 14px;
    margin-right: 7px;
}

hr {
    margin: 20px 0 20px 0;
}

.botao__cor {
    display: block;
    margin: 15px;
    width: 24px;
    height: 24px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 3.5px rgb(105, 105, 105);
    text-align: center;
    padding-top: 5px;
}

.botao__tamanho {
    display: block;
    margin: 15px;
    width: 24px;
    height: 24px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 3.5px rgb(105, 105, 105);
    text-align: center;
    padding-top: 5px;
}

.borda {
    display: block;
    margin: 15px;
    width: 24px;
    height: 24px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 0 3px var(--cor-clara), 0 0 0 5.5px rgb(0, 0, 0);
    text-align: center;
    padding-top: 5px;
}


/* Temporário */

.cor-1 {
    background-color: black;
}

.cor-2 {
    background-color: tomato;
}

.cor-3 {
    background-color: #ddd
}

.frete {
    justify-content: left;
}

.numfrete {
    width: 100px;
    height: 20px;
    border: solid 1px rgba(0, 0, 0, 0.568);
    margin-top: 10px;
}

.precoFrete {
    display: none;
}

.tipo-frete {
    display: none;
}

.fa-arrow-right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.btnfrete {
    display: block;
    padding: 3px 5px;
    width: 30px;
    height: 25px;
    text-align: center;
    margin-left: 1px;
    color: var(--cor-clara);
    margin-top: 10px;
    border-radius: 5px;
    transition: all .3s ease;
    background-color: var(--cor-escura);
    user-select: none;
}

.btnfrete:hover {
    background-color: var(--cor-btn);
}

#tipo-frete {
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px;
}

#tipo-frete td {
    border: 1px solid #ddd;
    padding: 5px 2px 2px 5px;
}

#tipo-frete tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btnadd {
    display: block;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    color: var(--cor-clara);
    transition: all .3s ease;
    background-color: var(--cor-escura);
    user-select: none;
    margin-top: 30px;
}

.btnadd:hover {
    background-color: var(--cor-btn);
}

.accordion {
    background-color: white;
    color: rgb(29, 29, 29);
    margin-right: 7px;
    border-bottom: solid 1px black;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activemenu:after {
    content: '\2212';
}

.panel {
    padding: 0 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.panel p {
    margin: 5px 0 10px 0;
}

.botao {
    cursor: pointer;
    padding: 1px 1px 0 1px;
    border: 2px solid white;
    background-color: white;
    padding: 0;
    height: 94px;
}

.zoom {
    width: 90px;
    height: 110px;
}

.zoom img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.zoom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.822);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 1%;
    margin-top: 5%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
}

#vitrineModal {
    width: 40%;
    height: 700px;
    padding-top: 5%;
    padding-bottom: 1%;
}

.busca {
    border: #ddd solid 1px;
    float: left;
    padding: 5px 20px 5px 5px
}

#lupa {
    float: left;
    margin: 5px 0px 0px -20px;
}

.teste {
    width: 100%;
    height: 100%;
}