input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
    box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.form-container {
    padding: 32px;
}

.form {
    box-sizing: border-box;
    padding: 60px 80px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#form-login.form {
    width: 500px;
}

.logo {
    width: 60px;
    display: block;
    margin-bottom: 28px;
}

.form-campos {
    margin: 50px 0;
}

#cadastro .form-campos {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 16px 24px;
}

.form-control__btn {
    border: none;
    outline: none;
}

.form-btn__entrar {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.form-btn__entrar {
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    height: 50px;
}

.form-btn__entrar:hover {
    opacity: 0.9;
}

.form-btn__cadastro {
    color: black;
    height: 30px;
    margin-top: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.form-btn__cadastro a:hover {
    color: rgb(90, 90, 90);
}

.form-titulo {
    text-align: center;
}

.opacidade {
    opacity: 0.7;
}

.form-campos__recuperar-senha {
    font-size: 14px;
    text-align: end;
    margin-top: 8px;
}

.form-campos__recuperar-senha a {
    opacity: 0.7;
}

.form-campos__recuperar-senha a:hover {
    opacity: 0.9;
}

.form-campos__termos {
    margin-bottom: 16px;
}

@media only screen and (max-width: 800px) {
    
    .form-container {
        padding: 0;
    }

    .form, #form-login.form {
        width: 100%;
    }

    .form {
        box-shadow: none;
        padding: 46px 32px
    }

    #cadastro .form-campos {
        display: block;
    }
}