/* Cabeçalho */

.cabecalho-principal {
    width: 100%;
    height: 700px;
    background-image: url("https://www.w3schools.com/w3images/jane.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.cabecalho-principal__conteudo {
    flex-direction: column;
    width: 80%;
    height: 30%;
    margin: auto;
    color: var(--cor-clara);
}

.cabecalho-principal__titulo {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.cabecalho-principal__subtitulo {
    font-size: 1.2rem;
}

.cabecalho-principal__btn {
    letter-spacing: 1.5px;
    margin: 40px 0 0 0;
    background: var(--cor-btn-cabecalho-principal);
    padding: 15px 30px;
    border-radius: 5px;
}

.cabecalho-principal__btn:hover {
    background: var(--cor-btn-cabecalho-principal-hover);
}


/* Seção Carrinho */

.cart-conteudo {
    font-family: Roboto, sans-serif;
    width: 300px;
    height: 350px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    right: 45px;
    top: 60px;
    background: white;
    border-radius: 7px;
    box-shadow: 1px 0.5;
    overflow-y: none;
    display: none;
}

.cart-conteudo.ativo {
    display: block;
}

#cart-titulo {
    padding: 5px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0 0.4;
}

.cart-produto__container {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(192, 191, 191, 0.575);
    height: 80px;
}

.cart-produto__img img {
    position: absolute;
    height: 70px;
    width: 70px;
    display: inblock;
    margin-top: 15px;
}

.cart-produto__desc,
.cart-produto__detalhes,
.cart-produto__qtd {
    position: relative;
    padding-left: 10px;
}

.cart-produto__desc {
    position: relative;
    font-weight: 300 bold;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 5px;
    left: 60px;
    top: 15px;
}

.cart-produto__detalhes {
    font-weight: 300;
    position: relative;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    top: 35px;
    right: 59px;
}

.cart-produto__qtd {
    font-weight: 200 bold;
    font-size: 11px;
    position: relative;
    display: inline-block;
    padding: 5px;
    top: 67px;
    right: 113px;
}

.cart-produto__valor {
    font-weight: bold;
    font-size: 13px;
    position: relative;
    display: inline-block;
    top: 70px;
}

#cart-produto__subtotal {
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    padding-top: 10px;
    border-top: 1px solid rgba(192, 191, 191, 0.575);
    display: block;
    width: auto;
    box-sizing: border-box;
    top: 10px;
}

#cart-subvalor {
    position: relative;
    font-weight: 400;
    left: 140px;
}

.cart-conteudo button {
    position: relative;
    bottom: -28px;
    margin-right: 10px;
    margin-left: 15px;
}

.cart-conteudo input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    position: relative;
    left: 105px;
    bottom: 15px;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 15px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 20px;
    padding: 0;
    width: 15px;
    position: relative;
}

.input-group .quantity-field {
    position: relative;
    height: 20px;
    left: -7px;
    text-align: center;
    width: 28px;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}


/* Conteúdo Principal */

.conteudo-principal__secao {
    width: 75%;
    margin: auto;
}


/* Seção Lançamentos  */

.lancamentos {
    /* background-color: black; */
}

.carrossel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(39, 41, 44);
    opacity: 0.8;
}

.slick-next:focus:before,
.slick-prev:focus:before {
    opacity: 0.8;
}

.slick-prev {
    left: 100px;
    z-index: 999;
}

.slick-next {
    right: 100px;
    z-index: 999;
}

.img-carrossel {
    outline: none;
    display: flex !important;
    justify-content: center;
}


/* Seção Produtos em oferta */

.produtos-oferta__title {
    text-align: center;
    margin: 65px;
    letter-spacing: 2.5px;
    font-size: 1.7rem;
    position: relative;
}

.produtos-oferta__title::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 70px;
    height: 2.5px;
    border-radius: 2px;
    background: var(--cor-escura);
}

.produtos-oferta__btn {
    background-color: var(--cor-btn-oferta);
    width: 150px;
    margin: 50px auto;
}

.produtos-oferta__btn:hover {
    background-color: var(--cor-escura);
}


/* Seção Categorias */

.categorias_grid {
    width: 100%;
}

.categorias_grid {
    width: 100%;
    padding: 50px;
}

.categorias-produto__title {
    padding-top: 40px;
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 1.7rem;
    position: relative
}

.categorias-produto__title::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 70px;
    height: 2.5px;
    border-radius: 2px;
    background: var(--cor-escura);
}


/* Seção Marketing */

.marketing {
    width: 100%;
    height: 500px;
    position: relative;
}

.marketing__conteudo {
    flex-direction: column;
    color: var(--cor-clara);
}

.mkt-produtos,
.mkt-ilustrativo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mkt-ilustrativo {
    background-image: url("https://www.w3schools.com/w3images/workbench.jpg");
}

.mkt-produtos {
    background-image: url("https://www.w3schools.com/w3images/photographer.jpg");
}

.mkt-ilustrativo {
    background-image: url("https://www.w3schools.com/w3images/workbench.jpg");
}


/* Seção Mapa */

.mapa {
    width: 100%;
    position: relative;
}

.informação-contato {
    background-color: white;
    position: absolute;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    width: 350px;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 30px;
    font-size: 14px;
}

.informação-contato__btn {
    letter-spacing: 1.5px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: var(--cor-btn-cabecalho-principal);
    padding: 15px 30px;
    border-radius: 5px;
    width: 200px;
    margin-left: 65px;
}

.informação-contato__btn:hover {
    background-color: rgba(0, 0, 0, 0.713);
}


/* Rodapé */

.rodape {
    background-color: var(--cor-fundo-rodape);
    justify-content: space-between;
    padding: 30px;
}

.cartao {
    margin-right: 5px;
    max-width: 40px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.rodape-fonte {
    color: white;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px;
}

.rodape-link {
    text-align: center;
    color: white;
    text-decoration: none;
}

.rodape-link a {
    color: white;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}