@media only screen and (max-width: 1341px){
    .categorias__flex .card{  flex: 0 1 411px;  }
    .marketing__conteudo{  width: 70%;  }
}



@media only screen and (max-width: 1280px){
    .marketing__conteudo{  width: 70%;  }
}



@media only screen and (max-width: 1060px){
    .carrossel{  
        width: 80%;
        margin: auto;
    }

    .categorias__flex .card{  flex: 0 1 368px;  }
}



@media only screen and (max-width: 880px){
    .card{  height: 400px;  }
    .slick-prev {  left: -50px;  }
    .slick-next {  right: -50px;  }

    .marketing__titulo {  font-size: 1.65rem;  } 
}



@media only screen and (max-width: 770px){
    .card{
        width: 80%;
        margin: auto;
    }

    .marketing__subtitulo {  font-size: 1rem;  } 
       .marketing__titulo {  font-size: 1.5rem;  } 

    .categorias {  margin-bottom: 50px;  }
    .categorias__flex .card{  flex: 0 1 460px;  }
}



@media only screen and (max-width: 700px){
    .cabecalho-principal{  height: 700px;  }

    .marketing__titulo {  font-size: 1.35rem;  } 
}



@media only screen and (max-width: 550px){
    .card{  width: 100%;  }
    
    .conteudo-principal__title{  font-size: 1.35rem;  }

    .marketing__conteudo {  width: 90%;  }
    .marketing__titulo {  font-size: 1rem;  } 
    .marketing__subtitulo {  font-size: .7rem;  } 
    
    .mapa__iframe{  height: 300px;  }
    .informacao-contato{  display: none;  }

    .rodape-padrao__link{  font-size: .85rem;  }
    .rodape__titulo{  font-size: 1.2rem;  }
}



@media only screen and (max-width: 445px){        
    .cabecalho-principal__titulo{
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .cabecalho-principal__subtitulo{
        font-size: 1rem;
        width: 350px;
    }

    .card{  height: 350px;  }
    .card__descricao{  padding: 5px 10px;  }
    .card__subtitulo{  font-size: .9rem;  }
    .card__titulo{  font-size: 1rem;  }

    .conteudo-principal__title{  margin: 35px auto;  }
    
    .carrossel .card,
    .carrossel {  height: 400px;  }
    .carrossel{  width: 90%;  }    
    .slick-prev {  left: -20px;  }
    .slick-next {  right: -20px;  }

    .marketing__titulo {  font-size: .85rem;  } 
    .marketing__subtitulo {  font-size: .7rem;  } 
}



@media only screen and (max-width: 370px){
    .cabecalho-principal__subtitulo{  width: 250px;  }
    .cabecalho-principal__titulo{  font-size: 1.5rem;  }
}