* {
    padding: 0px;
    margin: 0px;
}

.conteudo-sobre {
    margin: 70px 0 25px 10px;
}

.conteudo-sobre div {
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 12px;
}
.quadro-texto {
    width: 650px;
    text-align: justify;
    margin: 5px;
}

.img-historia, .img-desafios, .img-inovacao {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.ajustar-texto {
    display: flex;
}
.nav-sobre {
    padding: 0 32px;
    background-color: hotpink;
}

.menu-sobre {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 80px;
}


#divBusca {
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 15px;
    width: 500px;
    height: 32px;
}

/*
#divBusca:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}
*/

#icon-pesquisa {
    font-size: 24px;
    float: right;
    padding: 1px;
    margin-right: 5px;
}

#icon-user {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

#icon-carrinho {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

#icon-user:hover, #icon-carrinho:hover {
    background-color: grey;
    border-radius: 100%;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 20px;
    background-color: rgb(114, 112, 112);
}

.entre-em-contato {
    display: flex;
    justify-content: left;
    align-items: center;
}

.icons-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.icons-redes-sociais img {
    width: 40px;
    height: 40px;
    margin: 8px;
}

.input-redes-sociais {
    width: 250px;
    padding: 6px;
    border: solid 1px;
    margin-left: 5px;
    border-radius: 3px;
}

.botao-redes-sociais {
    margin-left: 5px;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:white;
    align-items: center;
    border-radius: 3px;
}

.botao-redes-sociais:hover {
    background-color: rgb(192, 189, 186);
    text-decoration: none;
}