* {
    padding: 0px;
    margin: 0px;
}

.conteudo-sobre {
    margin: 70px 0 25px 10px;
}

.conteudo-sobre div {
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: left;
}

.quadro-texto {
    width: 650px;
    text-align: justify;
    margin: 5px;
}

.img-historia, .img-desafios, .img-inovacao {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
}

.ajustar-texto {
    display: flex;
}
.nav-sobre {
    padding: 0 32px;
    background-color: hotpink;
}

.menu-sobre {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 80px;
}


#divBusca {
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 15px;
    width: 500px;
    height: 32px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}

#icon-pesquisa {
    font-size: 24px;
    float: right;
    padding: 1px;
    margin-right: 5px;
}

#icon-user {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

#icon-carrinho {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

#icon-user:hover, #icon-carrinho:hover {
    background-color: grey;
    border-radius: 100%;
}