<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js'></script>
    <script src="https://unpkg.com/http-vue-loader"></script>

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css//reset.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'
        integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=='
        crossorigin='anonymous' />
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/cores.css">
    <link rel="stylesheet" href="../css/login_cadastro.css">
</head>

<body>
    <div class="hide">
        <div id="cadastro" class="form-container">
            <form id="form-cadastro" class="form" @submit.prevent="realizarCadastro">
                <img class="logo center-x" src="../img/logo.png" alt="Logo">
                <h2 class="form-titulo">Crie sua conta</h2>
                <div class="form-campos">
                    <input-layout v-model="usuario.nome" type="text" preencher>Nome completo</input-layout>
                    <input-layout v-model="usuario.cpf" type="text" maxlength="11" preencher>CPF</input-layout>
                    <input-layout v-model="usuario.telefone" type="tel" pattern="[0-9]{11}" preencher>Telefone (DDD + número)</input-layout>
                    <select v-model="usuario.genero" id="genero" class="form-campos__genero" required>
                        <option :value="null" selected disabled hidden>Selecione o gênero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                    <input-layout v-model="usuario.dataNascimento" type="date" preencher>Data de nascimento</input-layout>
                    <input-layout v-model="usuario.email" type="email" icone="fas fa-envelope" preencher>Email</input-layout>
                    <input-layout v-model="usuario.senha" type="password" icone="fas fa-lock" preencher>Senha</input-layout>
                    <input-layout v-model="confirmarSenha" type="password" icone="fas fa-lock" preencher>Confirme sua senha</input-layout>
                </div>
                <div class="form-campos__termos">
                    <input type="checkbox" id="termos" required> <span>Li e aceito as Politicas de Privacidade e Termos
                        de Uso.</span>
                </div>
                <div class="form-control__buttons">
                    <input type="submit" class="form-btn__entrar" value="CONFIRMAR">
                </div>
            </form>
        </div>

        <footer class="rodape">
            <h2 class="rodape__direitos">Todos os direitos reservados LOJA QUE NAO TEM NOME</h2>
        </footer>
    </div>

    <script type="module" src="../modules/usuario-logado.js"></script>
    <script type="module">
        import service from '../modules/service-api.js';

        let vapp = new Vue({
            el: '#cadastro',

            data: {
                usuario: {
                    nome: null,
                    email: null,
                    senha: null,
                    dataNascimento: null,
                    genero: null,
                    telefone: null,
                    cpf: null,
                },
                confirmarSenha: null,
            },

            methods: {
                async realizarCadastro() {
                    //this.dadosIncorretos = false;
                    if (this.usuario.senha !== this.confirmarSenha) {
                        alert('As senhas não coincidem');
                        return;
                    }

                    let resposta = await service.realizarCadastro(this.usuario);
                    if (resposta) {
                        
                        location.replace('/pages/login.html');
                        return;
                    }
                    //this.dadosIncorretos = true;
                },
            },

            components: {
                'input-layout': httpVueLoader('../components/InputLayout.vue')
            }
        });
    </script>

</body>

</html>