<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js'></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/cores.css">
    <link rel="stylesheet" href="../css/login_cadastro.css">
</head>

<body>
    <div id="login" class="form-container">
        <form id="form-login" class="form">
            <img class="logo center-x" src="../img/logo.png" alt="Logo">
            <h2 class="form-titulo">Entre na sua conta</h2>
            <div class="form-campos">
                <input-layout id="email" v-model="email" type="email" icone="fas fa-envelope" preencher>Email</input-layout>
                <input-layout id="senha" v-model="senha" type="password" icone="fas fa-lock" preencher>Senha</input-layout>
                <div id="recuperar-senha" class="form-campos__recuperar-senha"><a href="#">Esqueci minha senha</a></div>
            </div>
            <div class="form-control__buttons">
                <input type="submit" class="form-btn__entrar" value="ENTRAR">
                <span class="form-btn__cadastro"><span class="opacidade">Não possui uma conta? </span><a href="cadastro.html">Crie uma agora</a></span>
            </div>
        </form>
    </div>

    <script type="module">
        let vapp = new Vue({
            el: '#login',
            data: {
                email: '',
                senha: ''
            },
            components: {
                'input-layout': httpVueLoader('../components/InputLayout.vue')
            }
        });
    </script>

</body>

</html>